body
{
margin: 0;
background:#404040;
}
.nav {
  overflow: hidden;
  background-color: #404040;
}

.nav a {
color:

}



.nav-right {
  float: right;
  margin-top:60px;
  margin-right:40px;
}
.nav-right a.hover
{
}
.nav-right a.active
{

}
.btn-outline
{

  color: black; 
  border: 3px solid #BD941A;
 padding: 15px 32px;
 outline: none;
 

 

  border-radius: 1px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 .5px 2px 0 rgba(0,0,0,0.19);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.btn-outline:hover
{
  background-color: #DFAD18;
  color: white;
}
.btn-text
{


color:#A07800;
border-radius:4px;
 margin: 4px 2px;
padding: 15px 32px;
font-size: 16px;
text-decoration: none;
  display: inline-block;

box-shadow: 0 .000005px 0px 0 rgba(0,0,0,0.2), 0 0px 0px 0 rgba(0,0,0,0.19);

 -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;

 outline: none; 
}
.btn-text:hover
{
box-shadow: 0 .05px .5px 0 rgba(0,0,0,0.2), 0 .0005px .00005px 0 rgba(0,0,0,0.19);


}
.btn-text-b
{


color:#A07800;
border-radius:4px;
 margin: 4px 2px;
padding: 15px 32px;
font-size: 16px;
text-decoration: none;
  display: inline-block;

box-shadow: 0 .000005px 0px 0 rgba(0,0,0,0.2), 0 0px 0px 0 rgba(0,0,0,0.19);

 -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
border: .5px solid #BD941A;

 outline: none; 
}
.btn-text-b:hover
{
box-shadow: 0 .05px .5px 0 rgba(0,0,0,0.2), 0 .0005px .00005px 0 rgba(0,0,0,0.19);



}

.btn
{
background-color:#DBAA17;

color:black;
font-family:Roboto;
border-radius: 4px;
 margin: 4px 2px;
padding: 15px 32px;
font-size: 16px;
text-decoration: none;
  display: inline-block;
outline: none;
box-shadow: 0 .000005px 0px 0 rgba(0,0,0,0.2), 0 0px 0px 0 rgba(0,0,0,0.19);

 -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;

}
.btn-dark
{
background-color:#A07800;

color:white;
font-family:Roboto;
border-radius: 4px;
 margin: 4px 2px;
padding: 15px 32px;
font-size: 16px;
text-decoration: none;
  display: inline-block;
outline: none;
box-shadow: 0 .000005px 0px 0 rgba(0,0,0,0.2), 0 0px 0px 0 rgba(0,0,0,0.19);

 -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;

}